p {
  font-family:cursive;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: crisp-edges;
}

.BBC {
  font-size: 40px;
  display: inline-block;
}

.great_personality {
  font-size: 25px;
  display: inline-block;
  font-family: serif;
}